@mixin shadow-micro {
    box-shadow: 0 1px 2px rgb(0, 0, 0, 5%);
}

@mixin shadow-sm {
    box-shadow: 0 2px 4px rgb(0, 0, 0, 7%);
}

@mixin shadow-md {
    box-shadow: 0 4px 8px rgb(0, 0, 0, 10%);
}

@mixin shadow-lg {
    box-shadow: 0 8px 20px rgb(0, 0, 0, 15%);
}
