.Flex {
    display: flex;

    &--inline {
        display: inline-flex;
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &--direction-column {
        flex-direction: column;
    }

    &--direction-row-reverse {
        flex-direction: row-reverse;
    }

    &--direction-column-reverse {
        flex-direction: column-reverse;
    }

    &--justify-flex-start {
        justify-content: flex-start;
    }

    &--justify-flex-end {
        justify-content: flex-end;
    }

    &--justify-center {
        justify-content: center;
    }

    &--justify-space-between {
        justify-content: space-between;
    }

    &--justify-space-around {
        justify-content: space-around;
    }

    &--align-flex-start {
        align-items: flex-start;
    }

    &--align-flex-end {
        align-items: flex-end;
    }

    &--align-center {
        align-items: center;
    }

    &--align-stretch {
        align-items: stretch;
    }

    &--align-baseline {
        align-items: baseline;
    }

    &--gap-1x {
        gap: var(--spacing-1x);
    }

    &--gap-2x {
        gap: var(--spacing-2x);
    }

    &--gap-4x {
        gap: var(--spacing-4x);
    }

    &--gap-6x {
        gap: var(--spacing-6x);
    }

    &--gap-8x {
        gap: var(--spacing-8x);
    }

    &--gap-10x {
        gap: var(--spacing-10x);
    }

    &--gap-12x {
        gap: var(--spacing-12x);
    }
}
