$_common-font-weight: 400;
$_common-letter-spacing: -2%;

@mixin heading-1 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: $_common-letter-spacing;
    font-weight: $_common-font-weight;
}

@mixin heading-2 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: $_common-letter-spacing;
    font-weight: $_common-font-weight;
}

@mixin heading-3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: $_common-letter-spacing;
    font-weight: $_common-font-weight;
}

@mixin title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: $_common-letter-spacing;
    font-weight: $_common-font-weight;
}

@mixin subtitle {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: $_common-letter-spacing;
    font-weight: $_common-font-weight;
}

@mixin large {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: $_common-letter-spacing;
    font-weight: $_common-font-weight;
}

@mixin base {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: $_common-letter-spacing;
    font-weight: $_common-font-weight;
}

@mixin small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: $_common-letter-spacing;
    font-weight: $_common-font-weight;
}

@mixin micro {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: $_common-letter-spacing;
    font-weight: $_common-font-weight;
}

@mixin weight-bold {
    font-weight: 700;
}

@mixin weight-semibold {
    font-weight: 600;
}

@mixin weight-medium {
    font-weight: 500;
}
