@keyframes move-side {
    0% {
        transform: translateY(140px); /* Начальная позиция */
    }

    100% {
        transform: translateY(20px); /* Конечная позиция */
    }
}

.Animations {
    &__bounce {
        animation-name: move-side;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        background-color: var(--color-red-50);
        margin: auto;
    }
}
