name: CI/CD Pipeline

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - main

jobs:
    prepare:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup Node.js and pnpm
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install --frozen-lockfile
    tests:
        runs-on: ubuntu-latest
        needs: [prepare]
        steps:
            - name: Run tests
              run: pnpm test

    checks:
        runs-on: ubuntu-latest
        needs: [prepare]
        steps:
            - name: Check circular dependency
              run: pnpm check-circular-dependency

            - name: Check linting
              run: pnpm lint

            - name: Check format
              run: pnpm format

    build:
        runs-on: ubuntu-latest
        needs: [prepare]
        steps:
            - name: Build packages
              run: pnpm build

            - name: Build storybook
              run: pnpm build:storybook
